<!DOCTYPE html>
<html>
  <head>
    <title>BlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !user_signed_in? %>
  <style>
    .auth-btns {
      display: none;
    }
  </style>
<% end %>
    <%= render "shared/logout" %>
    <%= yield %>
    <!-- This is an action to alert the user for login/signed in and log out messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
